{% extends 'base.html' %}
{% block title %}Register{% endblock %}

{% block content %}
    <div class="container">
        <div class="card col-md-10 col-lg-6"  style="margin: 15px auto">
            <div class="row">
    {#            <div class="col-sm-6 col-sm-offset-3 order-md-1">#}
                <div class="col-md-10" style="margin: 15px auto">
                    <h3 class="mb-4">Sign In</h3>
                    {% if form.errors %}
                        <p>Your username and password didn't match. Please try again.</p>
                    {% endif %}
                    <form class="needs-validation" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'form_template.html' %}
                        <div class="form-group">
                            <button class="btn btn-lg btn-primary btn-block">Login</button>
                        </div>
                        <div class="form-group">
                            <center>
                                <a class="text-dark p-2" href="{% url 'account:register' %}">Register account</a><br>
                                <a class="text-dark p-2" href="{% url 'account:password-reset' %}">Forgot password</a>
                            </center>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}