{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="card col-md-10 col-lg-6" style="margin: 15px auto">
{#            <div class="col-sm-6 col-sm-offset-3 order-md-1">#}
                <div class="col-md-10" style="margin: 15px auto">
                    <h4 class="mb-4">Reset Password</h4>
                    <form class="needs-validation" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'form_template.html' %}
                        <div class="form-group">
                            <button class="btn btn-primary btn-lg btn-block">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}