{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="card col-md-10 col-lg-6" style="margin: 15px auto">
                <div class="col-md-10" style="margin: 15px auto">
                    <form class="needs-validation" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="number" name="amount">
                        <div class="form-group">
                            <button class="btn btn-primary btn-lg btn-block">Bid</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}