{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
    <style>
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
            input[type=number] {
              -moz-appearance: textfield;
            }
        </style>
        <button onclick="goBack()" class="btn btn-primary">Go Back</button>
        <div class="row" style="margin-top: 15px">
            <div class="col-md-3 col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <div class="col-sm-12" style="margin: 15px auto">
                            <img src="{{ auction.product.image.url }}">
                        </div>
                        <form class="form-horizontal " id="bid_form">
                            {% csrf_token %}

                            <div class="row">
                                <div class="col-sm-12">
                                    <span class="">${{ auction.current_bid }}</span>
                                    <a type="button" data-toggle="modal" data-target="#popUpWindow" class="btn btn-success btn-block">Bid</a>
                                </div>
                                <div class="modal fade" id="popUpWindow">

                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h3 class="modal-title">{{ auction.product.title }}</h3>
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>
                                            <div class="modal-body">
                                                <form role="form">
                                                    <div class="form-group">
                                                       <input type="number" class="form-control" id="amount" value="{{ auction.current_bid }}">
                                                        <input type="hidden" id="auction" value="{{ auction.id }}">
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <a href="{% url 'auctionAPI:bid' %}" class="btn btn-success btn-block">Submit Bid</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <h1>{{ auction.product.title }}</h1>
                        hey there
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
{% block js %}
            <script>
            {#$(document).on('submit', '#bid_form', function (e) {#}
            {#    e.preventDefault();#}
            {#    $.ajax({#}
            {#        type: 'POST',#}
            {#        url: '{% url 'auction:bid' %}',#}
            {#        data: {#}
            {#            amount:$('#amount').val(),#}
            {#            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()#}
            {#        },#}
            {#        success:function(){#}
            {#            alert("New bid submitted!")#}
            {#        }#}
            {#    })#}
            {#  })#}

            $('bid_form').submit(function(e){
                e.preventDefault();
                console.log($(this).serialize())


            });

            function goBack() {
                window.history.back();
            }
            </script>

{% endblock %}