{% for product in products %}
{#    {% if product.account == account %}#}
        <div class="card mb-1" style="padding-bottom: 10px; margin-bottom: 10px; max-width: 600px">
            <div class="row no-gutters">
                <div class="col-md-4 col-sm-3">
                    <div class="card-image">
                        <img src="{{ product.image.url }}"class="img-responsive" style="padding: 7px;" width="90%">
                    </div>
                </div>
                <div class="col-md-8 col-sm-7">
                     <div class="card-body">
                         <h5 class="card-title">{{ product.title }}</h5>
                         <p class="card-text">
                             <span>{{ product.condition }} | </span>
                            <span class="card-title">{{ product.notes }}</span>
                         </p>

                        <a class="btn btn-primary float-right" href="#">View more...</a>
                    </div>
                </div>
            </div>
        </div>
{#    {% else %}{% endif %}#}
{% endfor %}
