<style>
    .card-deck {
        align-content: center;
    }
    .card {
        width: 200px;
        height: 315px;
        margin-left: 10px;
    }
    .card-image {
        height: 150px;
        display: block;
        margin: auto;
    }
    .card-body {
        color: cornflowerblue;
    }
    .card-img-top {
        padding: 12px 7px 7px 7px;
        display: block;
        position: relative;
        margin: auto;
        max-height: 100%;
    }
    .card-text {
        color: green;
        position: absolute;
        {#bottom: 45px;#}
        {#right: 30px;#}
    }
    .card:hover {
        transform: scale(1.02);
        box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
    }
    .btn-primary {
        position: absolute;
        width: 80%;
        bottom: 10px;
    }
    .end-time {
        color: red;
        font-size: 0.70rem;
    }
</style>
{% if phones %}
    <div class="card-deck">
        <div class="row row-cols-1 row-cols-md-3">
            {% for phone in phones %}
                {% now 'd/m/Y H:i:s' as current_date %}
                <div class="col-sm-5 col-md-5">
                    <div class="card">
                        <div class="card-image">
                            <img src="{{ phone.content_object.image.url }}" class="card-img-top">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ phone.content_object }}</h5>
                            {% if amount %}
                                <span class="card-text">{{ amount }}</span>
                            {% else %}
                                <span class="card-text">${{ phone.reserve_price }}</span>
                            {% endif %}
                        <br>
                            <span class="card-text end-time">Ending at {{ phone.date_end }}</span>
                            <input name="auction" value="{{ phone.id }}" type="hidden">
                            <a href=""  type="submit" class="btn btn-primary btn-block"> View more...</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% else %}
    <h3>There are currently no ongoing auctions.</h3>
{% endif %}