{% extends 'base.html' %}

{% block content %}
        <button onclick="goBack()" class="btn btn-primary">Go Back</button>
        <div class="row" style="margin-top: 15px">
            <div class="col-md-3 col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <div class="col-sm-12" style="margin: 15px auto">
                            <img src="{{ phone.image.url }}" style="margin: auto 0" width="100%">
                        </div>
                        <form action="{% url 'auction:start-auction' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="product_id" value="{{ phone.id }}">
                            <input type="hidden" name="model_type" value="Phone">
{#                            {% for auction in auctions %}#}
{#                                {% if auction.product_id == phone.id %}#}
                                    <a class="btn float-right" href="{% url 'auction:update-phone' phone.id %}"
                                            style="background-color: #f0a00f; margin-left: 20px">Update</a>
{#                                {% else %}#}
                                    <a class="btn btn-danger float-right" href="{% url 'auction:delete-phone' phone.id %}"
                                        style="margin-left: 20px">Delete</a>

                                    <button class="btn btn-primary float-right" type="submit" value="Submit"
                                        style="margin-left: 20px; margin-top: 10px">Start Auction</button>
{#                                {% endif %}#}
{#                            {% endfor %}#}
                        </form>
                        <div class="row">
                            <div class="col-sm-12">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <h1 style="size: 0.1em">{{ phone }}</h1>
                            <table class="table ">
                                <tr>
                                    <td>Make:</td>
                                    <td>{{ phone.brand }}</td>
                                    <td>Model:</td>
                                    <td>{{ phone.model }}</td>
                                </tr>
                                <tr>
                                    <td>Condition:</td>
                                    <td>{{ phone.condition }}</td>
                                    <td>Operating System:</td>
                                    <td>{{ phone.operating_system }}</td>
                                </tr>
                                <tr>
                                    <td>Colour:</td>
                                    <td>{{ phone.colour }}</td>
                                    <td>Storage Capacity:</td>
                                    <td>{{ phone.storage_capacity }}</td>
                                </tr>
                                <tr>
                                    <td>RAM:</td>
                                    <td>{{ phone.ram }}</td>
                                    <td>Camera:</td>
                                    <td>{{ phone.camera }}</td>
                                </tr>
                                <tr>
                                    <td>Processor Type:</td>
                                    <td>{{ phone.processor_type }}</td>
                                    <td>Processor:</td>
                                    <td>{{ phone.processor_speed }}</td>
                                </tr>
                                <tr>
                                    <td>Screen Size:</td>
                                    <td>{{ phone.screen_size }}</td>
                                    <td>Screen Type:</td>
                                    <td>{{ phone.screen_type }}</td>
                                </tr>
                                <tr>
                                    <td>Notes:</td>
                                    <td colspan="3">{{ phone.notes }}</td>
                                </tr>
                            </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
{% endblock %}