{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style>
        .card:hover {
            transform: scale(1.02);
            box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
        }
        a:hover {
            text-decoration: none;
        }
    </style>
    <button onclick="goBack()" class="btn btn-primary">Go Back</button>
    {% if phone_list %}
        <h3 style="padding-left: 25px; margin-top: 10px">My Phones</h3>
        <div class="row row-cols-1 row-cols-md-2 row-cols-sm-2 row-cols-xs-2" style="margin-left: 10px">
        {% for phone in phone_list %}
{#            {% if phone.account == account %}#}
            <div class="card mb-1" style="padding-bottom: 10px; margin-bottom: 10px; margin-left:10px; max-width: 600px">
                <div class="row no-gutters">
                    <div class="col-md-4 col-sm-3">
                        <div class="card-image">
                            <img src="{{ phone.image.url }}"class="img-responsive" style="padding: 7px;" width="90%" height="120px">
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-7">
                         <div class="card-body">
                             <h5 class="card-title">{{ phone }}</h5>
                             <p class="card-text">
                                 <span>{{ phone.condition }} | </span>
                                <span class="card-title">{{ phone.notes }}</span>
                             </p>
                            <a class="btn btn-primary float-right" href="{% url 'auction:phone-details' phone.id %}"
                                style="margin-left: 20px">View more...</a>

                         </div>
                    </div>
                </div>
            </div>
{#            {% endif %}#}
        {% endfor %}
        </div>
    {% else %}
        <h2>You have no products yet!!!</h2>
        <span>Click <a href="{% url 'auction:create-product' %}">here</a> to add a new product to sell. </span>
    {% endif %}
{% endblock %}

{% block js %}
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
{% endblock %}