{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style>
        .card:hover {
            transform: scale(1.02);
            box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
        }
        a:hover {
            text-decoration: none;
        }
    </style>

    <div class="container">
        <div class="row">
            {% if phones %}
                <div class="col-xs-6  col-sm-4 col-md-3">
                    <a href="{% url 'auction:my-phones' %}">
                        <span class="card">
                            <span class="card-body">
                                <img src="{% static 'auction/images/undraw_folder.svg' %}" width="100%" height="100%"
                                style="padding: 10px">
                                <h3 style="padding-left: 10px">Phones</h3>
                            </span>
                        </span>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}